body {
  width: 100vh;
  height: 100vh;
  display: flex;
}

.img {
  background: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  width: 40%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: space-evenly;
}