.container {
    display: flex;

}

img {
    width: 300px;
    height: auto;
}

em {
    font-style: italic;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-top, .content-mid, .content-bottom {
    padding-left: 32px;
}

.content-top > p {
    font-weight: bold;

}

.content-mid {

}

.content-bottom {

}

h1 {
    font-size: 16px;
}